body {
    background-color: #F1F3F4;
}

/* Create three equal columns that float next to each other */
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: " ";
  display: table;
  clear: both;
}
