.dim-image {
      /* Controls how fast the dimming effect happens (0.3 seconds) */
      transition: filter 0.3s ease; 
    }

    /* 100% is normal brightness. 50% makes it half as bright (dimmed) */
    .dim-image:hover {
      filter: brightness(50%); 
    }


/* Create three equal columns that float next to each other */
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: " ";
  display: table;
  clear: both;
}
